$primary-family: 'Spartan', sans-serif;
$secondary-family: 'Work Sans', sans-serif;

$bg-color: #121214;
$purple: #8257e5;

@import 'html-tags';
@import 'text-animation';
@import 'container';
@import 'media-query-968px';
@import 'media-query-320px';
